{% extends "frontend/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
    </div>
</div>
<table style="width:100%">
    <tr>
        <th>Income</th>
        <th>Amount</th>
        <th>Expenditure</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{salary}}</td>
        <td>Mortgage</td>
        <td>{{mortgage}}</td>
    </tr>
    <tr>
        <td>Other</td>
        <td>{{other}}</td>
        <td>Rent</td>
        <td>{{rent}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Utilities</td>
        <td>{{utilities}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Travel</td>
        <td>{{travel}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Food</td>
        <td>{{food}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><b>Debt Payments</b></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Loans</td>
        <td>{{loans}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Credit Cards</td>
        <td>{{credit_cards}}</td>
    </tr>
  </table>
{% endblock content %}