{% extends "frontend/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
    </div>
</div>
<table style="width:100%">
    <tr>
        <th>Income</th>
        <th>Amount</th>
        <th>Expenditure</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{mortgage}}</td>
        <td>Mortgage</td>
        <td>{{mortgage}}</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
    </tr>
  </table>
{% endblock content %}